@font-face{
	font-family:"JosefinSansMedium";
	src:url("/JosefinSans/static/JosefinSans-Medium.ttf" format("truetype");
}
@font-face{
	font-family:"JosefinSansLight";
	src:url("/JosefinSans/static/JosefinSans-Light.ttf" format("truetype");
}
@font-face{
	font-family:"JosefinSansBold";
	src:url("/JosefinSans/static/JosefinSans-SemiBold.ttf" format("truetype");
}