@model Website.Models.DocumentModel.WebText

@{
	bool hasLink = !string.IsNullOrWhiteSpace(Model.Link);
	bool isBold = Model.IsBold ?? false;
	bool isItalic = Model.IsItalic ?? false;
}

<div>

@if (hasLink)
{
	@:<a href="@(Model.Link)">
}
@if (isBold)
{
	@:<strong>
}
@if (isItalic)
{
	@:<i>
}

	@Html.Raw(Model.Text);

@if (isItalic)
{
	@:</i>
}
@if (isBold)
{
	@:</strong>
}
@if (hasLink)
{
	@:</a>
}

</div>

