@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/PureCSS/pure203.css" />
</head>

<body>
    <div class="nav-inner pure-u-1-4">
        <div class="pure-menu">
            <a class="pure-menu-heading">
                PRACC
            </a>
            <ul class="pure-menu-list" asp-controller="Home">
                <li class="pure-menu-item">
                    <a class="pure-menu-link" asp-controller="Document">Documents</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" asp-controller="Project">Projects</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" asp-controller="ProjectsGroup">Projects Groups</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" asp-controller="User">People</a>
                </li>
            </ul>
        </div>
    </div>
    @RenderBody()
</body>
</html>
