@model IEnumerable<Website.Models.ViewModels.Alert>


@if(Model is not null) foreach (var alrt in Model)
{
	<div class="p-1">
		<div class="@Html.Encode(alrt.GetHtmlClass())" role="alert">
			@alrt.Message
		</div>
	</div>
}