@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model System.String
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container row">
	<div class="col col-md-4"></div>
	<div class="col col-md-4">
		<div class="display-4 text-center p-1">Log in</div>
		<div class="input-group input-group-xxl">
			<div class="container-fluid p-2">
				<div class="d-xl-flex justify-content-center">
					<div class="w-100">
						<label class="display-6">Password</label>
					</div>
					<div class="w-100 p-2">
						<input id="passwordInputId" class="w-100 input-group-text" type="password" />
					</div>
				</div>
				<div class="text-danger"></div>
			</div>
			<div class="container-fluid p-2">
				<span id="PasswordSaltString64" hidden>@Html.Encode(ViewData["PasswordSaltString64"])</span>
				<span id="AuthHashKeyString64" hidden>@Html.Encode(ViewData["AuthHashKeyString64"])</span>
				<input class="btn btn-sm btn-outline-dark col-12 p-2" type="submit" value="Submit" onclick="OnPasswordSubmitClick()" />
			</div>
			<div class="display-6 text-danger">@Html.Encode(Model)</div>
		</div>
	</div>
	<div class="col col-md-4"></div>
</div>

<script src='~/JS/sha512.js'></script>
<script src='~/JS/base64.js'></script>
<script>
	function getCookie(name) {
		var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
		if (match) return match[2];
	}
	function OnPasswordSubmitClick() {
		var UserPasswordBytes =  new TextEncoder().encode(document.getElementById("passwordInputId").value);
		console.log("user password bytes = < " +UserPasswordBytes.join(' ')+" >");

        var PasswordSaltFromDB = Uint8Array.from(atob(document.getElementById("PasswordSaltString64").innerText),c => c.charCodeAt(0));
		console.log("salt from db bytes = < " +PasswordSaltFromDB.join(' ')+" >");

		var UniqAuthSalt = Uint8Array.from(atob(document.getElementById("AuthHashKeyString64").innerText),c => c.charCodeAt(0));
		console.log("Qniq salt bytes = < " +UniqAuthSalt.join(' ')+" >");

       /* var Salted = passBytes.concat(DbSalt);
        var SaltedHashed= sha512.array(Salted);
        var SaltedWithKey = SaltedHashed.concat(TockenSalt);
        var SaltedWithKeyHashed =sha512.array(SaltedWithKey.buffer);

        console.log("SaltedWithKeyHashed as base64="+ base64url(SaltedWithKeyHashed));

        var Req = new XMLHttpRequest();
		Req.open('POST', '/User/NewAuthPassword',false);
        Req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        Req.send(base64url(SaltedWithKeyHashed));*/
	}
</script>