@model Website.Models.DocumentModel.Document

<!--This page uses bootstrap-->

<div id="article_body">
    @foreach (var paragraph in @Model.Paragraphs)
    {
        <p>@Html.Raw(string.Concat(paragraph.TextParts?.Select(x=>x.Text?? string.Empty) ?? new string[]{string.Empty}))</p>
    }
</div>
