@model Website.Models.DocumentModel.Document

<!--This page uses bootstrap-->

<div id="article_body">
    @foreach (var paragraph in @Model.Paragraphs)
    {
        <p>
            @(new Website.ViewComponents.Document.DocumentParagraphViewComponent().Invoke(paragraph))
        </p>
    }
</div>
